.backLayar {
  background-color: #8fb7fe;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardContainer {
  border-radius: 20px;
  width: 18rem;
  padding: 20px;
  color: black;
  box-shadow: 10px 10px 7px 0px rgba(7, 68, 114, 0.22);
  background-color: #fff;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonMain {
  margin-bottom: 12px;
  background-color: #fff;
  border: none;
}

.timeContainer {
  display: flex;
  align-items: baseline;
}

.timeNow {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.5em;
}

.playerImg {
  width: 40px;
  height: auto;
  background-color: #fff;
}
