$backColor: #8fb7fe;
$color1: #6d727c;
$grey: #ced4da;

.backLayar {
  background-color: $backColor;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: $color1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardContainer {
  border-radius: 20px;
  width: 19rem;
  padding: 0 20px 40px 20px;
  color: black;
  box-shadow: 10px 10px 7px 0px rgba(7, 68, 114, 0.22);
  background-color: #fff;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonMain {
  margin-bottom: 12px;
  background-color: #fff;
  border: none;
}

.timeContainer {
  display: flex;
  align-items: baseline;
}

.timeNow {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.5em;
}

.playerImg {
  width: 40px;
  height: auto;
  background-color: #fff;
}

.cardHeader {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px 0 0 10px;
  div {
    width: 50%;
    cursor: pointer;
  }
  div:first-child {
    border-right: 1px solid $grey;
    margin-bottom: 0;
  }
  div.active {
    background-color: #ced4da;
  }
}

.btn__auth {
  width: 100%;
  margin-top: 20px;
}

.timerMemo {
  border: none;
}

/*Nav-bar*/

.st-effect-7.st-container {
  perspective: 1500px;
  perspective-origin: 0% 50%;
}

.st-effect-7 .st-pusher {
  transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-pusher {
  transform: translate3d(300px, 0, 0);
}

.st-effect-7.st-menu {
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-effect-7.st-menu {
  visibility: visible;
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
